@{
    ViewData["Title"] = "Customer";
}
@model IEnumerable<NghiemHuuHoaiBTH2.Models.Customer>

<div>
    <a class="btn btn-success" asp-action="Create">Create a new Customer</a>
</div>

<table class="table table-all">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>
            Xoá
        </th>
        <th>
            Sửa
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName</td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a>
            </td>
        </tr>
    }
</table>